.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background: #ffffffcc;
    backdrop-filter: blur(25px);
    z-index: 4;
}

.nav-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.nav-content-img {
    height: 100%;
    width: 150px;
    object-fit: contain;
}

.nav-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-menu a {
    color: #000000;
    text-decoration: none;
    margin: 0 0 0 30px;
    font-weight: 400;
}

.nav-menu a:hover {
    color: #cc0000;
}

.nav-mobile {
    display: none;
}

.navicon {
    display: none;
}


@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }

    .navicon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 24px;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        background: #ffffff;
        z-index: 4;
        transform: translate(100%, 0);
        transition: all 0.3s;
    }

    .nav-mobile-top {
        display: flex;
        justify-content: space-between;
        width: 90%;
        color: #000000;
        height: 50px;
        align-items: center;
    }

    .nav-mobile-menu {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 25px 0 0;
    }

    .nav-mobile a {
        color: #000000;
        text-decoration: none;
        text-align: left;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 400;
        border-bottom: #00000044 solid 1px;
    }

    .naviconmobile {
        color: #000000;
        font-size: 30px;
    }
}