.suspension {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0;
    height: 50vh;
}
.suspension h2 {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 15px;
}
.suspension-n h3 {
    font-size: 16px;
    font-weight: 400;
}
.suspension-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.suspension-n {
    width: 90%;
    padding: 4px 4%;
    border: #00000033 solid 1px;
    outline: #cc000000 solid 2px;
    display: flex;
    border-radius: 4px;
    margin: 3px 0;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s;
}